# Required for file permissions in synapse container
SYNAPSE_UID=991
SYNAPSE_GID=991

# Optional only if you enable local Postgres profile
POSTGRES_DB=synapse
POSTGRES_USER=synapse
POSTGRES_PASSWORD=CHANGE_ME_LOCAL_DB_PASSWORD
